// Bootstrap
@import '../bootstrap-sass-3.1.1/vendor/assets/stylesheets/bootstrap';
// Bootstrap theme
@import 'yeti';
@import 'pagination';
@import 'system_message';
@import 'normalize';
@import 'content';
@import 'navigation';
@import 'forms';
@import 'vendor/prismjs';
@import 'vendor/jquery.mmenu/scss/jquery.mmenu.all';

/* input boxes */
/* html5 reset. this is necessary to properly align input fields in html5 */
input, select, textarea {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.banner {
    background: url('/images/night-forest.jpg') #074e68;
    background-size: cover;
    background-position: center center;
    padding: 22px 0;

    h1 {
        font-weight: 300;
        color: white;
        margin-bottom: 0;
    }

    h4 {
        font-weight: 300;
        color: #cccccc;
    }
}

.clear {
    &:before {
        content: "";
        display: table;
    }

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.debug_box {
    position: fixed;
    bottom: 20px;
    right: 0;
    padding: 20px;
    color: #fff;
    background-color: red;
    font-weight: bold;
}